@charset "UTF-8";
@font-face {
  font-family: ForzanLight;
  src: url(./assets/ForzanLight.ttf) format("truetype");
}
@font-face {
  font-family: Texgyrecursor;
  src: url(./assets/Texgyrecursor.otf) format("truetype");
}
@font-face {
  font-family: TexgyrecursorBold;
  src: url(./assets/TexgyrecursorBold.otf) format("truetype");
}
html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  width: 60%;
  height: 100%;
  background-color: #f5f5e5;
  font-family: Texgyrecursor, sans-serif;
  text-align: left;
  color: #141414;
  transition-duration: 0.7s;
  margin: 0 0 0 5em;
  display: flex;
  flex-direction: column;
}

.navigation {
  position: fixed;
  top: 2em;
  left: 5em;
  color: #2c2c2c;
}
.navigation ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: Texgyrecursor, sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.navigation ul li {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.navigation ul li:first-child {
  margin-right: 1em;
}
.navigation ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.navigation ul li a:after {
  border-radius: 1em;
  border-top: 0.1em solid #141414;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.3s cubic-bezier(0.46, 0.97, 0.33, 1.31);
}
.navigation ul li a:hover:after {
  right: 0;
}

.main {
  max-width: 90%;
  align-items: flex-start;
}

.cover {
  display: flex;
  flex-direction: column;
  padding: 30vh 0 0 0;
}

p {
  color: inherit;
  font-size: 2em;
  margin: 1.3em 0 0 0;
  max-width: 100%;
  line-height: 1;
}
p a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 0.85;
}
p a:hover {
  color: #585858;
}

.name {
  font-size: 4em;
  font-family: ForzanLight, sans-serif;
  letter-spacing: 20px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 4em;
}
.type span {
  display: flex;
  justify-content: flex-start;
  flex-grow: 0;
  padding-right: 5px;
}
.type span:nth-child(1)::after {
  content: "";
  padding-right: 5px;
  animation: type1 linear 10s 1 normal forwards;
}
@keyframes type1 {
  0% {
    content: "";
  }
  2% {
    content: "a";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  3% {
    content: "a ";
    border-right: 0.08em solid #666;
  }
  5% {
    content: "a d";
    border-right: 0.08em solid transparent;
  }
  7% {
    content: "a de";
    border-right: 0.08em solid #666;
  }
  8% {
    content: "a dev";
    border-right: 0.08em solid #666;
  }
  10% {
    content: "a deve";
    border-right: 0.08em solid transparent;
  }
  12% {
    content: "a devel";
    border-right: 0.08em solid #666;
  }
  14% {
    content: "a develo";
    border-right: 0.08em solid #666;
  }
  15% {
    content: "a develop";
    border-right: 0.08em solid transparent;
  }
  17% {
    content: "a develope";
    border-right: 0.08em solid #666;
  }
  19% {
    content: "a developer";
    border-right: 0.08em solid #666;
  }
  20% {
    content: "a developer";
    border-right: 0.08em solid transparent;
  }
  22% {
    content: "a developer";
    border-right: 0.08em solid #666;
  }
  24% {
    content: "a developer";
    border-right: 0.08em solid #666;
  }
  25% {
    content: "a developer";
    border-right: 0.08em solid transparent;
  }
  27% {
    content: "a developer";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  100% {
    content: "a developer";
    border-right: 0.08em solid transparent;
  }
}
.type span:nth-child(2)::after {
  content: "";
  padding-right: 5px;
  animation: type2 linear 10s 1 normal forwards;
}
@keyframes type2 {
  27.1186440678% {
    content: "";
  }
  29% {
    content: "a";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  31% {
    content: "a ";
    border-right: 0.08em solid #666;
  }
  32% {
    content: "a s";
    border-right: 0.08em solid #666;
  }
  34% {
    content: "a st";
    border-right: 0.08em solid #666;
  }
  36% {
    content: "a stu";
    border-right: 0.08em solid #666;
  }
  37% {
    content: "a stud";
    border-right: 0.08em solid #666;
  }
  39% {
    content: "a stude";
    border-right: 0.08em solid #666;
  }
  41% {
    content: "a studen";
    border-right: 0.08em solid #666;
  }
  42% {
    content: "a student";
    border-right: 0.08em solid #666;
  }
  44% {
    content: "a student";
    border-right: 0.08em solid #666;
  }
  46% {
    content: "a student";
    border-right: 0.08em solid #666;
  }
  47% {
    content: "a student";
    border-right: 0.08em solid #666;
  }
  49% {
    content: "a student";
    border-right: 0.08em solid #666;
  }
  51% {
    content: "a student";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  100% {
    content: "a student";
    border-right: 0.08em solid transparent;
  }
}
.type span:nth-child(3)::after {
  content: "";
  padding-right: 5px;
  animation: type3 linear 10s 1 normal forwards;
}
@keyframes type3 {
  50.8474576271% {
    content: "";
  }
  53% {
    content: "a";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  54% {
    content: "a ";
    border-right: 0.08em solid #666;
  }
  56% {
    content: "a g";
    border-right: 0.08em solid #666;
  }
  58% {
    content: "a ga";
    border-right: 0.08em solid #666;
  }
  59% {
    content: "a gam";
    border-right: 0.08em solid #666;
  }
  61% {
    content: "a game";
    border-right: 0.08em solid #666;
  }
  63% {
    content: "a gamer";
    border-right: 0.08em solid #666;
  }
  64% {
    content: "a gamer";
    border-right: 0.08em solid #666;
  }
  66% {
    content: "a gamer";
    border-right: 0.08em solid #666;
  }
  68% {
    content: "a gamer";
    border-right: 0.08em solid #666;
  }
  69% {
    content: "a gamer";
    border-right: 0.08em solid #666;
  }
  71% {
    content: "a gamer";
    border-right: 0.08em solid #666;
    border-right: 0.08em solid transparent;
  }
  100% {
    content: "a gamer";
    border-right: 0.08em solid transparent;
  }
}
.type span:nth-child(4)::after {
  content: "";
  padding-right: 5px;
  animation: type4 linear 10s 1 normal forwards;
}
@keyframes type4 {
  71.186440678% {
    content: "";
  }
  73% {
    content: "a";
    border-right: 0.08em solid transparent;
  }
  75% {
    content: "a ";
  }
  76% {
    content: "a m";
  }
  78% {
    content: "a mu";
  }
  80% {
    content: "a mus";
  }
  81% {
    content: "a musi";
  }
  83% {
    content: "a music";
  }
  85% {
    content: "a musici";
  }
  86% {
    content: "a musicia";
  }
  88% {
    content: "a musician";
  }
  90% {
    content: "a musician ";
  }
  92% {
    content: "a musician 🎸";
  }
  93% {
    content: "a musician 🎸";
  }
  95% {
    content: "a musician 🎸";
  }
  97% {
    content: "a musician 🎸";
  }
  98% {
    content: "a musician 🎸";
  }
  100% {
    content: "a musician 🎸";
    border-right: 0.08em solid transparent;
  }
  100% {
    content: "a musician 🎸";
    border-right: 0.08em solid transparent;
  }
}
.type span:last-child {
  border-right: 0.08em solid #666;
  animation: tick 0.8s cubic-bezier(1, -0.51, 0, 1.23) infinite;
}
@keyframes tick {
  0%,
  50% {
    border-right-color: #666;
  }
  100% {
    border-right-color: transparent;
  }
}

.message {
  margin: 5em 0;
}
.message .hide {
  background-color: #141414;
  transition-duration: 0.3s;
  border-radius: 6px;
  cursor: pointer;
}
.message .hide:hover {
  background-color: transparent;
}
.message #hide-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.message #hide-checkbox:checked ~ .hide {
  background-color: transparent;
}

.skill-label-container span {
  display: none;
  position: relative;
  color: inherit;
  font-size: 4em;
  z-index: 1;
}

.logos {
  display: flex;
  position: relative;
  align-items: center;
  overflow-x: visible;
  height: 3rem;
  margin: 1em 0;
}
.logos:has(.skill-ionic:hover) ~ .smaller:has(.skill-ionic) a,
.logos:has(.skill-ionic:hover) ~ .smaller:has(.skill-ionic) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-ionic:hover) ~ .smaller span.skill-ionic {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-react:hover) ~ .smaller:has(.skill-react) a,
.logos:has(.skill-react:hover) ~ .smaller:has(.skill-react) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-react:hover) ~ .smaller span.skill-react {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-js:hover) ~ .smaller:has(.skill-js) a,
.logos:has(.skill-js:hover) ~ .smaller:has(.skill-js) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-js:hover) ~ .smaller span.skill-js {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-ts:hover) ~ .smaller:has(.skill-ts) a,
.logos:has(.skill-ts:hover) ~ .smaller:has(.skill-ts) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-ts:hover) ~ .smaller span.skill-ts {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-php:hover) ~ .smaller:has(.skill-php) a,
.logos:has(.skill-php:hover) ~ .smaller:has(.skill-php) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-php:hover) ~ .smaller span.skill-php {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-html:hover) ~ .smaller:has(.skill-html) a,
.logos:has(.skill-html:hover) ~ .smaller:has(.skill-html) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-html:hover) ~ .smaller span.skill-html {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-css:hover) ~ .smaller:has(.skill-css) a,
.logos:has(.skill-css:hover) ~ .smaller:has(.skill-css) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-css:hover) ~ .smaller span.skill-css {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-astro:hover) ~ .smaller:has(.skill-astro) a,
.logos:has(.skill-astro:hover) ~ .smaller:has(.skill-astro) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-astro:hover) ~ .smaller span.skill-astro {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos:has(.skill-mysql:hover) ~ .smaller:has(.skill-mysql) a,
.logos:has(.skill-mysql:hover) ~ .smaller:has(.skill-mysql) span {
  display: flex;
  color: #484848;
  opacity: 1;
}
.logos:has(.skill-mysql:hover) ~ .smaller span.skill-mysql {
  font-family: TexgyrecursorBold, sans-serif;
}
.logos div {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  margin-right: 1em;
}
.logos div:last-child {
  margin-right: 0;
}
.logos div span {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  color: inherit;
  font-size: 2em;
  z-index: 1;
}
.logos div a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  z-index: 2;
  background-color: inherit;
  height: 2rem;
  width: 2rem;
}
.logos div a:hover + span,
.logos div a:hover ~ div {
  display: flex;
}
.logos div a svg {
  height: 2rem;
  width: auto;
  color: inherit;
  transform-origin: center;
}
.logos div a:hover > svg {
  height: 1.9rem;
  color: #484848;
}

.center {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
}

.smaller {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin: 0.2em 0 1em 0.1em;
  position: relative;
}
.smaller span {
  display: none;
  font-size: 0.7em;
  margin: 0.2em 0 0 0.1em;
  position: absolute;
  top: 100%;
  left: 0;
}
.smaller span span {
  margin-right: 1em;
  position: relative;
}
.smaller span span:last-child {
  margin-right: 0;
}
.smaller a {
  color: #484848;
  width: -moz-fit-content;
  width: fit-content;
}
.smaller a:hover {
  color: #141414;
}
.smaller a:hover ~ span,
.smaller a:hover ~ span > span {
  display: flex;
}

.social-icons {
  position: fixed;
  top: 2em;
  right: 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 8px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.social-icons div {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-right: 2em;
  padding: 0.2em 0;
}
.social-icons div:last-child {
  margin-right: 0;
}
.social-icons div a,
.social-icons div label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons div a {
  color: #484848;
  text-decoration: none;
  z-index: 2;
}
.social-icons div a:hover {
  color: #141414;
}
.social-icons div a:hover + span {
  display: flex;
}
.social-icons div svg {
  height: 1.5rem;
  width: auto;
  cursor: pointer;
}
.social-icons div #moon-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

footer {
  margin-top: 10em;
  margin-bottom: 4em;
  width: 100%;
}
footer p {
  font-size: 1.2em;
  margin: 1em 0;
}
footer p:last-child {
  color: inherit;
  font-size: 1em;
  margin: 0;
}

body:has(#moon-checkbox:not(:checked)) {
  background-color: #141414;
  color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .navigation {
  color: #dcdcce;
}
body:has(#moon-checkbox:not(:checked)) .navigation ul li a:after {
  border-color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .message .hide {
  background-color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .message .hide:hover {
  background-color: transparent;
}
body:has(#moon-checkbox:not(:checked)) p a:hover {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-ionic:hover)
  ~ .smaller:has(.skill-ionic)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-ionic:hover)
  ~ .smaller:has(.skill-ionic)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-react:hover)
  ~ .smaller:has(.skill-react)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-react:hover)
  ~ .smaller:has(.skill-react)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-js:hover)
  ~ .smaller:has(.skill-js)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-js:hover)
  ~ .smaller:has(.skill-js)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-ts:hover)
  ~ .smaller:has(.skill-ts)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-ts:hover)
  ~ .smaller:has(.skill-ts)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-php:hover)
  ~ .smaller:has(.skill-php)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-php:hover)
  ~ .smaller:has(.skill-php)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-html:hover)
  ~ .smaller:has(.skill-html)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-html:hover)
  ~ .smaller:has(.skill-html)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-css:hover)
  ~ .smaller:has(.skill-css)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-css:hover)
  ~ .smaller:has(.skill-css)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-astro:hover)
  ~ .smaller:has(.skill-astro)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-astro:hover)
  ~ .smaller:has(.skill-astro)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-mysql:hover)
  ~ .smaller:has(.skill-mysql)
  a,
body:has(#moon-checkbox:not(:checked))
  .logos:has(.skill-mysql:hover)
  ~ .smaller:has(.skill-mysql)
  span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked)) .logos a {
  color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .logos a:hover {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked)) .logos a svg {
  color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .logos a:hover > svg,
body:has(#moon-checkbox:not(:checked)) .logos a:hover ~ span {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked)) .smaller a {
  color: #f5f5e5;
}
body:has(#moon-checkbox:not(:checked)) .smaller a:hover {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked)) .social-icons a {
  color: #afafaf;
}
body:has(#moon-checkbox:not(:checked)) .social-icons a:hover {
  color: #f5f5e5;
}

@media screen and (max-width: 768px) {
  body {
    width: auto;
    margin: 0 0 0 5vw;
  }
  .navigation {
    top: 10px;
    left: 5vw;
  }
  .main {
    width: 100%;
  }
  p {
    font-size: 1.5em;
    max-width: 98vw;
  }
  .name {
    font-size: 4em;
  }
  .logos {
    overflow-x: hidden;
  }
  .logos div a svg {
    height: 1.5rem;
  }
  .logos div a:hover > svg {
    height: 1.3rem;
  }
  .logos div a:hover + span {
    display: none;
  }
  .logos div span {
    font-size: 1.4em;
  }
  .smaller {
    font-size: 1.5em;
  }
  .smaller span {
    font-size: 0.8em;
  }
  .social-icons {
    bottom: 10px;
    right: 10px;
    top: unset;
  }
  .social-icons div a:hover + span {
    display: none;
  }
  .social-icons div span {
    display: none;
  }
  footer {
    margin-top: 10em;
    margin-bottom: 5em;
  }
} /*# sourceMappingURL=main.css.map */
