---
import PostList from "@/components/blog/PostList.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((collection) => {
  return collection.sort((a, b) => {
    return new Date(b.data.pubDate) > new Date(a.data.pubDate) ? 1 : -1;
  });
});
---

<BlogLayout
  title="Yumi Izumi's Blog"
  description="Yumi Izumi's periodical blog"
  image="/blog-social.png"
>
  <h1>
    <strong>Yumi's Blog</strong>
  </h1>
  <p>I occasionally write about random things</p>
  <PostList posts={posts} />
</BlogLayout>
<style>
  p {
    margin-bottom: 1rem;
  }
</style>
