---
import PostList from "@/components/blog/PostList.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { publicBlogs as posts } from "@/utils";
---

<BlogLayout
  title="Yumi Izumi's Blog"
  description="Yumi Izumi's periodical blog"
  image="/blog-social.png"
>
  <h1>
    <strong>Yumi's Blog</strong>
  </h1>
  <p>I occasionally write about random things</p>
  <PostList posts={posts} />
</BlogLayout>
<style>
  p {
    margin-bottom: 1rem;
  }
</style>
