---
import Socials from "@components/Socials.astro";

enum Language {
  en = "en",
  ja = "ja",
}

interface Translation {
  name: string;
  title: string;
}

const translation: Record<Language, Translation> = {
  en: {
    name: "Yumi Izumi",
    title: "Cybersecurity B.S. @ Penn State",
  },
  ja: {
    name: "泉 優海",
    title: "ペンシルベニア州立大学生<br />サイバーセキュリティ専攻",
  },
};
---

<div id="card">
  <input type="checkbox" id="lang-switch" tabindex="-1" />
  <label for="lang-switch">
    <div id="card-inner">
      {
        Object.values(Language).map((key, index) => {
          const t = translation[key];
          return (
            <div class="sides" id={key}>
              <div class="content">
                <h1 set:html={t.name} />
                <h2 set:html={t.title} />
              </div>
              <Socials
                size={24}
                color="inherit"
                tabindex={index === 0 ? 0 : -1}
              />
            </div>
          );
        })
      }
    </div>
  </label>
</div>
<style lang="scss">
  #card {
    perspective: 1000px;
    color: #eee;
    height: 300px;
    width: 560px;
    user-select: none;
    input[type="checkbox"] {
      position: fixed;
      top: -999px;
      left: -999px;
    }
    #card-inner {
      position: relative;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      background-color: gray;
      color: #444;
      box-shadow: 0 0 25px rgba(0, 0, 0, 1);
      border-radius: 20px;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to right bottom,
        rgb(237, 237, 237),
        rgb(183, 183, 183)
      );
      cursor: pointer;
      .sides {
        position: relative;
        border-radius: 20px;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        .content {
          position: absolute;
          padding: 30px;
          top: 18%;
          left: 0;
          .top {
            display: flex;
          }
        }
        h1 {
          font-size: 30px;
          font-weight: 200;
          margin: 0 0 8px 0;
          line-height: 1.2;
        }
        h2 {
          font-size: 20px;
          font-weight: 100;
          margin: 0;
          line-height: 1.1;
        }
        &#ja {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotateY(180deg) translate(50%, -50%);
        }
      }
    }
    #lang-switch:checked ~ label #card-inner {
      transform: rotateY(180deg);
    }
  }

  @media (max-width: 560px) {
    #card {
      height: 200px;
      width: 300px;
      #card-inner {
        height: 100%;
        width: 100%;
        .sides {
          h1 {
            font-size: 20px;
          }
          h2 {
            font-size: 15px;
          }
        }
      }
    }
  }
</style>
