---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Page not found">
  <h1>404 Page not found</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>
  <style lang="scss">
    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 5rem;
    }
    ul {
      margin-top: 2rem;
      list-style: none;
      font-size: 1.5rem;
    }
  </style>
</Layout>
