---
import CardPageLayout from "@layouts/CardPageLayout.astro";
import BusinessCard from "@components/BusinessCard.astro";
---

<CardPageLayout title="Business Card - Yumi Izumi">
  <div id="container">
    <BusinessCard />
  </div>
  <div id="info">
    <p>Last updated: June 2023</p>
    <p>
      <a href="https://yumiizumi.com/">See my portfolio</a>
    </p>
  </div>
</CardPageLayout>
<style lang="scss">
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #161616;
  }
  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50%;
    bottom: 2em;
    transform: translateX(50%);
    p {
      margin: 5px;
    }
    a,
    a:visited {
      color: inherit;
    }
    a:hover {
      filter: brightness(0.8);
    }
  }
</style>
