---
import BusinessCard from "@/components/BusinessCard.astro";
import Head from "@/components/Head.astro";
---

<html lang="en">
  <head>
    <Head
      title="Yumi Izumi's Virtual Business Card"
      description="Yumi Izumi's Virtual Business Card"
      image="https://yumiizumi.com/assets/business-card.png"
    />
  </head>
  <body>
    <div id="container">
      <BusinessCard />
    </div>
    <div id="info">
      <p>
        Last updated: {
          new Date().toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
          })
        }
      </p>
      <p>
        <a href="https://yumiizumi.com/">See my portfolio</a>
      </p>
    </div>
    <style lang="scss">
      html {
        font-family: "Inter", sans-serif;
        height: 100%;
        background-color: #161616;
      }
      body {
        height: 100%;
        margin: 0;
      }
      #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 50%;
        bottom: 2em;
        transform: translateX(50%);
        color: #e2e2e2;
        p {
          margin: 5px;
        }
        a,
        a:visited {
          color: inherit;
        }
        a:hover,
        a:focus {
          outline: none;
          color: #5a8eff;
        }
      }
    </style>
  </body>
</html>
