---
import Layout from "@layouts/Layout.astro";
import Cover from "@components/Cover.astro";
import WorkSection from "@components/WorkSection.astro";
import AboutSection from "@components/AboutSection.astro";
---

<Layout title="Yumi Izumi">
  <main>
    <Cover />
    <AboutSection />
    <WorkSection />
  </main>
</Layout>
