---
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
import WorkSection from "../components/WorkSection.astro";
import Nav from "../components/Nav.astro";
import Socials from "../components/Socials.astro";
import Footer from "../components/Footer.astro";
import AboutSection from "../components/AboutSection.astro";
---

<Layout title="Yumi Izumi">
  <main>
    <Nav />
    <Cover />
    <AboutSection />
    <WorkSection />
    <Socials />
    <Footer />
  </main>
</Layout>
