---
import GradientDiv from "@/components/GradientDiv.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Yumi Izumi">
  <GradientDiv vertical="center">
    <div>
      <p>I'm Yumi Izumi, a developer and student advocating for privacy.</p>
    </div>
  </GradientDiv>
</Layout>
<style>
  div {
    width: var(--content-width);
  }
</style>
