---
import Layout from "@/layouts/Layout.astro";
import Cover from "@/components/Cover.astro";
import WorkSection from "@/components/WorkSection.astro";
import AboutSection from "@/components/AboutSection.astro";
import BlogSection from "@/components/BlogSection.astro";
---

<Layout title="Yumi Izumi">
  <main>
    <Cover />
    <AboutSection />
    <BlogSection />
    <WorkSection />
  </main>
</Layout>
