---
import GradientDiv from "@/components/GradientDiv.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Now - Yumi Izumi">
  <GradientDiv vertical="center">
    <p>Learning Rust and Swift, and coding for fun</p>
    <p>Contributing on <a href="https://github.com/rarfell/dimeApp">Dime</a></p>
    <p>
      Studying <a
        href="https://bulletins.psu.edu/undergraduate/colleges/information-sciences-technology/cybersecurity-analytics-operations-bs/"
        >Cyber at Penn State</a
      >
    </p>
  </GradientDiv>
</Layout>
