---
import GradientDiv from "@/components/GradientDiv.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Now - Yumi Izumi">
  <GradientDiv vertical="center">
    <p>Learning Rust</p>
  </GradientDiv>
</Layout>
