---
import GradientDiv from "@/components/GradientDiv.astro";
import Skills from "@/components/Skills.astro";
import WorkCard from "@/components/WorkCard.astro";
import Layout from "@/layouts/Layout.astro";

type Work = {
  title: string;
  description: string;
  period: string;
  skills?: string[];
  link?: string;
};

const works: Work[] = [
  {
    title: "One Kiji",
    description: "Daily summary of the most important news",
    period: "since June 2023",
    skills: ["Astro", "TypeScript", "React"],
    link: "https://onekiji.com",
  },
  {
    title: "yumi.to",
    description: "An open-source personal URL shortener",
    period: "October 2023",
    skills: ["TypeScript", "Vue", "Nuxt", "Supabase"],
    link: "https://github.com/izyumidev/yumi.to",
  },
  {
    title: "xcode-discord-rpc",
    description: "A simple Discord Rich Presence client for Xcode",
    period: "October 2023",
    skills: ["Rust", "AppleScript"],
    link: "https://github.com/izyumidev/xcode-discord-rpc",
  },
  {
    title: "Subscription Manager",
    description: "Manage your subscriptions",
    period: "2022",
    skills: ["Ionic", "TypeScript", "React"],
    link: "https://github.com/bluelockorg/subscription-manager",
  },
  {
    title: "Why Privacy Matters",
    description: "Ted Talk about the important privacy",
    period: "2020",
    link: "https://youtube.com/watch?v=cpK-XshFAms",
  },
];
---

<Layout title="Now - Yumi Izumi">
  <GradientDiv vertical="start">
    <h1>My Work</h1>
    <Skills />
    <div>
      {works.map((work) => <WorkCard {...work} />)}
    </div>
  </GradientDiv>
</Layout>
<style lang="scss">
  div {
    width: var(--content-width);
    padding: 2rem 2rem;

    overflow: visible;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    div {
      padding: 2rem 1rem 6rem 1rem;
    }
  }
</style>
