<section id="about">
  <h2>About me</h2>
  <p>
    Hello, I'm Yumi! A student at Pennsylvania State University studying
    Cybersecurity and Mathematics.
  </p>
  <p>
    Also a developer with skills like React, TypeScript, and more. Currently,
    learning C++ and Rust.
  </p>
  <p>Feel free to contact me</p>
</section>
<style lang="scss">
  #about {
    margin: 2em 0;
    gap: 1em;
  }

  h1 {
    margin: 1.3em 0;
  }
</style>
