<footer>
  <h4>be Different to be Normal.</h4>
  <p>built without JavaScript</p>
</footer>
<style lang="scss">
  footer {
    margin-top: 60px;
    margin-bottom: 70px;

    h4 {
      font-size: 1.2em;
      font-weight: 300;
      margin-bottom: 8px;
    }
  }
</style>
