<nav
  class="nav"
  role="navigation"
  aria-label="Navigation for various sections on this page"
>
  <a href="#top">Me</a>
  <a href="#about">About</a>
  <a href="#work">Work</a>
</nav>
<style lang="scss">
  .nav {
    position: fixed;
    text-transform: uppercase;
    top: 2em;
    left: var(--margin-left);
    border-radius: 5px;
    backdrop-filter: blur(3px);

    a {
      border-radius: 5px;
      backdrop-filter: blur(3px);
      padding: 5px;

      &:focus-visible {
        outline: dashed;
      }
    }
  }
</style>
