---
const currentPath = new URL(Astro.url).pathname;

const paths = [
  { path: "/about", label: "About" },
  { path: "/work", label: "Work" },
  { path: "/blog", label: "Blog" },
  { path: "/now", label: "Now" },
];
---

<nav>
  <div class={currentPath === "/" ? "m-active" : ""}>
    <a href="/">Yumi</a>
  </div>
  <div>
    {
      paths.map(({ path, label }) => (
        <a
          href={path}
          class={currentPath === path ? "active" : ""}
          set:html={label}
        />
      ))
    }
  </div>
</nav>
<style lang="scss">
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--content-width);
    background: transparent;
    z-index: 100;
    padding: 3rem;
  }
  div:first-child a {
    font-weight: bold;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;

    &:hover,
    &:focus {
      outline: none;
      color: #999;
    }

    &.active {
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 768px) {
    nav {
      justify-content: center;
      padding: 1rem 1rem;
    }
    .active,
    .m-active {
      display: none;
    }
  }
</style>
