<div
	class="nav"
	role="navigation"
	aria-label="Navigation for sections on this page"
>
	<a href="#top">Me</a>
	<a href="#about">About</a>
	<a href="#work">Work</a>
</div>
<style lang="scss">
	.nav {
		position: fixed;
		text-transform: uppercase;
		top: 2em;
		left: var(--margin-left);
		gap: 1rem;

		a {
			border-radius: 5px;
			backdrop-filter: blur(3px);
			padding: 0.5em;

			&:focus-visible {
				outline: dashed;
			}
		}
	}
</style>
