<nav
  role="navigation"
  aria-label="Navigation for various sections on this page"
>
  <a href="/#top" aria-label="Go to top">Me</a>
  <a href="/#about" aria-label="About me">About</a>
  <a href="/#work" aria-label="My work">Work</a>
  <a href="/#blog" aria-label="My personal periodical blog">Blog</a>
  <a href="/card" aria-label="My virtual business card">Card</a>
</nav>
<style lang="scss">
  nav {
    position: fixed;
    text-transform: uppercase;
    top: 2em;
    left: var(--margin-left);
    border-radius: 5px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    a {
      border-radius: 5px;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      padding: 5px;

      &:focus-visible {
        outline: dashed;
      }
    }
  }
</style>
