<a
  href="#main"
  id="goToContent"
  tabindex="1"
  aria-label="Skip to main content of the page"
>
  Skip to content
</a>
<style lang="scss">
  #goToContent {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1000;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: dashed;
      top: 5px;
    }
  }
</style>
