---
import socials from "@data/socials";
---

<div class="socials">
  {
    socials.map((social) => {
      <a href={social.link} aria-label={social.ariaLabel}>
        {social.svg}
      </a>;
    })
  }
</div>
<style lang="scss">
  .socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    a {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      backdrop-filter: blur(3px);

      &:focus-within {
        outline: dashed;
      }

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
</style>
