---
import "@/styles/color.scss";
import "@/styles/global.scss";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";

interface Props {
  title: string;
  description: string;
  slug?: string;
  isNotBlog?: boolean;
  image?: string;
}

const { title, description, slug, isNotBlog = false, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      slug={slug}
      isBlog={!isNotBlog}
      image={image}
    />
  </head>
  <body>
  	<main>
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        font-family: sans-serif;
        height: 100vh;
        font-size: large;
        line-height: 1.8;
        color: var(--text-color);
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: var(--content-width);
        padding-top: 60px;
      }
      main {
        flex: 1;
      }
      a,
      a:visited {
        color: var(--text-color);
      }
      a:hover {
        color: var(--text-hover-color);
      }
      a:focus {
        outline: none;
        color: var(--text-hover-color);
      }
      header {
        a {
          text-decoration: none;
        }
      }
      article {
        h1 {
          font-size: 2.5rem;
          font-weight: bold;
          margin-top: 1rem;
          margin-bottom: 0.8rem;
          line-height: 1.2;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          line-height: 1.2;
        }
        ul {
          margin-left: 1em;
        }
        code {
          background-color: rgba(var(--text-color-rgb), 0.1);
          padding: 0.1em 0.3em;
        }
      }
      @media screen and (max-width: 768px) {
        body {
          width: 100%;
          padding: 1rem var(--mobile-margin);
        }
      }
    </style>
  </body>
</html>
