---
import Head from "@/components/Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description="Yumi Izumi's Portfolio" isBlog={false} />
  </head>
  <body>
    <main id="main">
      <slot />
    </main>
    <style lang="scss" is:global>
      @font-face {
        font-family: "Krypton";
        src: url(/assets/Krypton.ttf) format("truetype");
        font-display: swap;
      }
      .krypton {
        font-family: "Krypton", sans-serif;
      }
      @font-face {
        font-family: "Neon";
        src: url(/assets/Neon.ttf) format("truetype");
        font-display: swap;
      }
      .neon {
        font-family: "Neon", sans-serif;
      }
      @font-face {
        font-family: "Radon";
        src: url(/assets/Radon.ttf) format("truetype");
        font-display: swap;
      }
      .radon {
        font-family: "Radon", sans-serif;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      :root {
        --content-width: 700px;
        --white: #d5d2c5;
        --black: #1e1e1b;
        --green: #b0dc96;
        --blue: #4a75eb;
      }
      html {
        font-family: "Neon", sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        color: var(--white);
        background-color: var(--black);
        line-height: 1.7;
        scroll-behavior: smooth;

        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100svh;
      }
      main {
        max-width: var(--content-width);
        margin: 2rem 0;
      }
      section {
        margin-top: 1rem;
      }
      ul {
        list-style: none;
      }
      p {
        font-size: 1em;
        text-wrap: balance;
        a {
          color: var(--blue);
        }
      }
      a {
        color: inherit;
        text-decoration: none;
        font-family: "Krypton", sans-serif;
        &:hover {
          color: var(--green);
        }
      }
      h1,
      h2 {
        font-weight: normal;
        font-family: "Radon", sans-serif;
      }
      @media screen and (max-width: 768px) {
        :root {
          --content-width: 92%;
        }
        html {
          font-size: 16px;
        }
      }
    </style>
  </body>
</html>
