---
import "@/styles/tailwind.css";
import Head from "@/components/Head.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Yumi Izumi" description="Yumi Izumi's Links" />
  </head>
  <body class="bg-slate-50 dark:bg-zinc-900">
    <slot />
  </body>
</html>
