---
import "@/styles/tailwind.css";
import Head from "@/components/Head.astro";
---

<html lang="en">
  <Head title="Yumi Izumi" description="Yumi Izumi's Links" />

  <body>
    <slot />
  </body>
</html>
